* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 420px;
  height: 385px;
  margin: 0px auto;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.screen {
  width: 370px;
  height: 60px;
  margin: 25px 25px 15px 25px;
  background: #f1f1f1;
  border: 1px solid #000000;
  user-select: none;
}

.screen_content {
  margin-top: 14px;
  margin-right: 15px;
  font-size: 28px;
  line-height: 33px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-areas:
    'line-1 line-1 line-1 line-1 line-1 line-1 line-1'
    'line-2 line-2 line-2 line-2 line-2 line-2 line-2'
    'line-3 line-3 line-3 line-3 line-3 line-3 line-3'
    'line-4 line-4 line-4 line-4 line-4 line-4 equal'
    'line-5 line-5 line-5 line-5 line-5 line-5 equal';
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(5, 40px);
  grid-gap: 15px;
  margin: auto 25px;
}

.btn {
  font-size: 14px;
  border: 1px solid #000000;
  background: #f1f1f1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  user-select: none;
}

.btn.equal {
  grid-area: equal;
}

.btn.hidden {
  visibility: hidden;
}

.btn.rvt {
  background: #e5e5e5;
  border: 1px solid #e5e5e5;
  box-shadow: none;
}

.btn:hover {
  filter: brightness(104%);
}
.btn:active {
  filter: brightness(85%);
}
